body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/PSU9b1pTzDiy99JD0rbRW52VhbK4M1dKrwQ1V8t-F5DP2r8KrerMC4aXABsX63Enbz2ujTQbvAWaqNBUm9JEswkO3w0mYTfB7Lyk3YPmmLkPAH_CKvuXbptBDnyguhq2g4MBf61zdJal1HuOuLVZyyGgX0NAiVpSn0o64Qpzolj6KN4OMzoKB_MYvb_0e74Yzmizc9aTtLM9vQ2AVjhGxZKXIQB8xsN1HP1zl4GacCxAftXA4r9OlLAIbFXpIZCOyPtinsfglGpXPU9VpM2xmRLIJYDnt3ccq45UK9_3QNQw7FbdDrfyQ2FOm2oe_LhZ2RaCtVamZHVjTHS66fi1PE46S-Nl7r7lRfH_fxOSxfiUYI0SR_2BQbVcT8gka_qVH45RG-ua_qh3L_6otDUX0qevUaDDdVQlEzM_PCVbhssMC0WM3nZ4JFDruxRi-ilDlEPoaVhEQwCBikbvsaSpOAEKOTY_eC7pxkPktuzUWnNfwPEJlByxB7zztB8BPczBQwOHyqzhXlhZdBj95m-ja-XnTRftwp7JyYR1QHOKNl9YaQ3IXCwxZXzFEYX5PoUFNCAIk5VytKg6SkDc9nYcLlkMNrgE9sSbdOArHZp7O05dhloTgOKffpI-JPitKoL6pnWo8Pm-szEdl8hGqHvSmUvGviPGTHJM2Uq1=w2226-h1506-no);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #EAE0D5;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: DarkSeaGreen;
  }
  
  .light {
    background-color: Sienna;
  }
  
  .city {
    background-color: SaddleBrown;
  }
  
  .vienna {
    background-color: Brown;
  }
  
  .italian {
    background-color: Black;
  }
  
  /* Typography */
  h1 {
    color: rgb(250, 248, 248);
    font-family: 'Covered By Your Grace';
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: right;
    top: 80%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  footer p {
    text-align: center;
    font-size: small;
  }
