body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/5nnn2iIvnOREkg7QLkuagjy6JUSqE2iD4xv9zIr_24ZJ4RTOcVxwrKl4F-8Ts8q_9WrI6n1EODgRVxqDK0Cah8PUAlHZTP6IzquCVOBRuOYHqRzOm0yOsvKHo2IZ0B7XYt3adQgapXAy67KBhEoivhHG7mA6y_ExfDXMWrMKfeH9PqGMFvUI2hHY1RtglTIrG3xWc3nMc5QW5ZBA4WdldfdRzZwvCKpp3woweP7Z9HFCqwiYkOQ7zb3-EIa_4VC7Sw64_tju3QL6jrRKSXjuY10h7lsk9EyDhG-RlMe2HPX8r0xFhotl-OSO7IGqxuHSqbUwAJKVisfdgSf_ibMLc-Qc4Byx6wHrr6y3MHOg8BxmYuPCX0RfOjMp0D3qCoRyA33-LhXBqISJpjumEoQmSSk4-cRs2agYCBR2gH5l_zAIgG6PsBUymgWuGk3CsQccDs6QUDbi6wq0FCFKPBblZ0w0MuugUOQVrmYZ7742Ppcm1ZB5lPjFv5tNnPxfOiaueGKUsPTBBav-oP-rueaJPaVI4yBEQV12asVzme6nOkuoEWRSeobOStrejcCGGuXJOTyBI2LCkLvLCj3jay89qGr1PbNY_GZGNAvrwCsqwfk=w906-h1206-no);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #EAE0D5;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: DarkSeaGreen;
  }
  
  .light {
    background-color: Sienna;
  }
  
  .city {
    background-color: SaddleBrown;
  }
  
  .vienna {
    background-color: Brown;
  }
  
  .italian {
    background-color: Black;
  }
  
  /* Typography */
  h1 {
    color: rgb(250, 248, 248);
    font-family: 'Covered By Your Grace';
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: right;
    top: 80%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  footer p {
    text-align: center;
    font-size: small;
  }
