body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/IkfLkRvxzoUk9WSmgHMJBAfjLoDmr87lEB-qS2R5rngeBbbcBgW5bHwAJPpcuPxsXr8JIF3ENrZCxjM5UsBTS-jT7JL9I26hVEuRwNgcShUhZ5_0EmxgSXrv3v5k3gP9OkWrIF_G6T-MyQy4UJC1pst2w9AriLRCNWtSt7lx6F8neiyMtRuxhaDKbw63WYc7FFGPpf2UNk2kb0YWg2ULzgSzgDsBAhS4541N7w1aJySU_ZxgButDznoEQYL6hUou8AU4amon8pWR4c3ToxdNztv0KyDxVeYbTwkUrOPq1UpOngTVOaXmVuclQVUV1F551M2W7JmBCw55tfTe-_lY3Z-sZi3VZJrwYHTpUVNhfhmbS_mrpcofpIb7uukRzj3Ju5XAa6NGmFPTyXPnQ6LnV7Xh5YrsGnfr-ekX1kfNkxhqKlMd0Om0y8XhXV-M5OU7peUI9haYw0p-YBP20He-AkE7mOt5VV-7FdzFbjqj3PiIxJbaPi5SLYK7KAerESrD0241ZIX1YNiRkhzLM4eok1IV2sgUpMNveiX0ssCdDRHHoD9c9hmmrU-Aiu_qojfzbSQhyUCMOb69JrfbyPNjfKGKUTM9GSqTTcqsmojFNFI=w906-h1206-no);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #EAE0D5;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: DarkSeaGreen;
  }
  
  .light {
    background-color: Sienna;
  }
  
  .city {
    background-color: SaddleBrown;
  }
  
  .vienna {
    background-color: Brown;
  }
  
  .italian {
    background-color: Black;
  }
  
  /* Typography */
  h1 {
    color: rgb(250, 248, 248);
    font-family: 'Covered By Your Grace';
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: right;
    top: 80%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  footer p {
    text-align: center;
    font-size: small;
  }
